<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="/main.css" />
    <script>
      // Change the login page as userType by JavaScript
      function updateSignInAction() {
        const userType = document.getElementById("userType").value;
        const signInButton = document.getElementById("signInButton");

        if (userType === "customer") {
          signInButton.onclick = function () {
            window.location.href = "/customers/sign-in"; // Move to the the customer sign in page
          };
        } else {
          signInButton.onclick = function () {
            window.location.href = "/restaurants/sign-in"; // Move to the restaurant sign in page
          };
        }
      }
    </script>
  </head>

  <body class="about-page">
    <header>
      <!-- navigation part -->
      <nav class="navbar">
        <div class="logo">
          <img src="/images/dine_click_logo.png" alt="Dine Click Logo" />
        </div>

        <ul class="nav-buttons">
          <li><a href="/restaurants">Home</a></li>
          <li><a href="/restaurants/about">About</a></li>
          <li><a href="/restaurants/list">Restaurants</a></li>
          <li><a href="/restaurants">My Bookings</a></li>
          <li><a href="/restaurants/sign-in">Sign In</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="about-section">
        <div class="dine-click-logo">
          <img src="/images/dine_click_about.png" alt="Dine Click Logo" />
        </div>

        <div class="about-content">
          <h1>About Us</h1>
          <p>
            Dine Click is an innovative restaurant reservation platform designed
            to simplify and enhance customer dining experience. With Dine Click,
            customers can seamlessly search for the restaurant, explore menus,
            and make table reservations with just a few clicks.
          </p>

          <p>
            For restaurant owners, Dine Click provides an efficient system for
            managing bookings, showcasing menus, and reducing the staff workload
            for managing seating.
          </p>

          <p>
            With features like fast reservations, flexible seat selection, and
            pre-order options, Dine Click is the solution for smooth, enjoyable,
            and personalized dining experiences.
          </p>

          <h1>Contact :</h1>
          <p>+65 1233 5688</p>
          <p>support@dineclick.com</p>
          <p>137 Telok Ayer St, #07-23 Singapore 068602</p>

          <h1>Sign In:</h1>
          <!-- Choose the sign in type -->
          <label for="userType"><strong>Sign in as:</strong> </label>
          <select
            id="userType"
            name="userType"
            required
            onchange="updateSignInAction()"
          >
            <option value="customer">Customer</option>
            <option value="restaurant">Restaurant</option></select
          ><br /><br />

          <button type="button" id="signInButton">Sign In</button>
        </div>
      </section>
    </main>
  </body>
</html>
