<!-- Login page for both customers and restaurants -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign In Page</title>
        <link rel="stylesheet" href="/main.css">

    </head>

    <body class="sign-in-page">
        <header >
            <!-- navigation part -->
            <nav class="navbar">
                <div class="logo">
                    <img src="/images/dine_click_logo.png" alt="Dine Click Logo">
                </div>

                <ul class="nav-buttons">
                    
                    <li><a href="/customers">Home</a></li>
                    <li><a href="/customers/about">About</a></li>
                    <li><a href="/customers/list">Restaurants</a></li>
                    <li><a href="/customers">My Bookings</a></li>
                    <li class="dropdown-signIn">
                        <a href="#">Sign In</a>
                        <ul class="dropdown-signIn-option">
                            <li><a href="/customers/sign-in">Sign In as Customer</a></li>
                            <li><a href="/restaurants/sign-in">Sign In as Restaurant</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
        
        <div class="sign-in-container">
            <div class="sign-in-box">
                <h1>Customer Sign In</h1>
                <form id="sign-in-form" method="POST" action="/customers/sign-in">
                    <label for="email"><strong>Email:</strong> </label>
                    <input type="email" id="email" name="email"placeholder="Enter email" required>
                    <br><br>
    
                    <label for="password"><strong>Password:</strong> </label>
                    <input type="password" id="password" name="password"  placeholder="Enter password" required>
                    <br><br>
    
                    <button type="submit" id="SignInButton">Sign In</button>
                </form>
    
                <br><br>
    
                <div class="registration-page"></div>
                    <p>Don't have an account ? <a href="/customers/registration">Register here</a></p>
                </div>
    
            </div>
        </div>
        
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                // This is used to manage the sign in options (sign in as customer or restaurant)
                const dropdown = document.querySelector('.dropdown-signIn');
                const dropdownMenu = document.querySelector('.dropdown-signIn-option');

                // Toggle the dropdown on click of "Sign In"
                dropdown.addEventListener('click', function (event) {
                    // Check if the clicked element have link inside 
                    if (event.target.tagName === 'A' && event.target.closest('.dropdown-signIn-option')) {
                        return; // stop further execution of this function
                    }
                    event.preventDefault(); // Prevent default behavior for the "Sign In" parent link (avoid browsers jump to the top of the page)
                    // use to toggle the dropdown
                    dropdownMenu.style.display = dropdownMenu.style.display === 'block' ? 'none' : 'block';
                });

                // Close the dropdown if clicked outside
                document.addEventListener('click', function (event) {
                    if (!dropdown.contains(event.target)) {
                        dropdownMenu.style.display = 'none';
                    }
                });
            });
        </script>
    </body>
</html>
