<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Customer Sign Up Page</title>
        <link rel="stylesheet" href="/main.css" />
    </head>
    
    <body class="customers-registration-page">
        <header >
            <!-- navigation part -->
            <nav class="navbar">
                <div class="logo">
                    <img src="/images/dine_click_logo.png" alt="Dine Click Logo">
                </div>

                <ul class="nav-buttons">
                    
                    <li><a href="/customers">Home</a></li>
                    <li><a href="/customers/about">About</a></li>
                    <li><a href="/customers/list">Restaurants</a></li>
                    <li><a href="/customers">My Bookings</a></li>
                    <li class="dropdown-signIn">
                        <a href="#">Sign In</a>
                        <ul class="dropdown-signIn-option">
                            <li><a href="/customers/sign-in">Sign In as Customer</a></li>
                            <li><a href="/restaurants/sign-in">Sign In as Restaurant</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>

        <div class="registration">
            <h1>Customer registration</h1>
            <form action="/customers/registration" method="POST" enctype="multipart/form-data" class="registration-form">
                <label for="full_name">Full Name:</label>
                <input type="text" id="full_name" name="full_name" required/> <br /><br />

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required /><br /><br />

                <label for="phone_number">Phone Number:</label>
                <input type="text" id="phone_number" name="phone_number" required/><br /><br />

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required/><br /><br />

                <label for="customer_image">Profile Picture: </label><br>
                <input type="file" id="customer_image" name="customer_image" /><br><br>
                <img id="imagePreview" style="max-width: 300px; display: none;"><br><br>
                <button type="submit">Register</button>
            </form>

            <!-- alert message -->
            <% if (typeof alertMessage !== 'undefined') { %>
                <div class="alert-overlay">
                    <div class="alert-box">
                        <p><%= alertMessage %></p>
                        <button onclick="closeAlert()">OK</button>
                    </div>
                </div>
            <% } %>

            <script>
                // <!-- Used to preview image when customer upload their profile picture -->
                document.getElementById("customer_image").addEventListener("change", function(event) {
                    const file = event.target.files[0]; // Get the selected file
                    if (file) {
                        const reader = new FileReader(); 
                        reader.onload = function(e) {
                            const imgPreview = document.getElementById("imagePreview");
                            imgPreview.src = e.target.result; 
                            imgPreview.style.display = "block"; // Show the image preview
                        };
                        reader.readAsDataURL(file);
                    }
                });

                // This is used to manage the sign in options (sign in as customer or restaurant)
                document.addEventListener("DOMContentLoaded", function () {
                // This is used to manage the sign in options (sign in as customer or restaurant)
                const dropdown = document.querySelector('.dropdown-signIn');
                const dropdownMenu = document.querySelector('.dropdown-signIn-option');

                // Toggle the dropdown on click of "Sign In"
                dropdown.addEventListener('click', function (event) {
                    // Check if the clicked element have link inside 
                    if (event.target.tagName === 'A' && event.target.closest('.dropdown-signIn-option')) {
                        return; // stop further execution of this function
                    }
                    event.preventDefault(); // Prevent default behavior for the "Sign In" parent link (avoid browsers jump to the top of the page)
                    // use to toggle the dropdown
                    dropdownMenu.style.display = dropdownMenu.style.display === 'block' ? 'none' : 'block';
                });

                // Close the dropdown if clicked outside
                document.addEventListener('click', function (event) {
                    if (!dropdown.contains(event.target)) {
                        dropdownMenu.style.display = 'none';
                    }
                });
            });

            // Close the alert box
            function closeAlert() {
                document.querySelector('.alert-overlay').style.display = 'none';
            }

            </script>

            <div class="login-container">
                <p>Already have an account? <a href="/customers/sign-in">Login Here</a></p>
                <div class="button-container">
                    <form>
                        <button type="button" onclick="location.href='/customers/registration'">Customer</button>
                    </form>
                    
                    <form>
                        <button type="button" onclick="location.href='/restaurants/registration'">Restaurant</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
