<!-- Customers List of Restaurants Page --> 

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Customers - Restaurant Page</title>
        <link rel="stylesheet" href="/main.css">
    </head>

    <body class="restaurants-list-page">
        <header >
            <!-- navigation part -->
            <nav class="navbar">
                <div class="logo">
                    <img src="/images/dine_click_logo.png" alt="Dine Click Logo">
                </div>

                <ul class="nav-buttons">
                    <li><a href="/customers/homepage">Home</a></li>
                    <li><a href="/customers/about-us">About</a></li>
                    <li><a href="/customers/list">Restaurants</a></li>
                    <li><a href="/customers/homepage">My Bookings</a></li>
                    <li><a href="/customers/account">Account</a></li>
                </ul>
            </nav>
        </header>

        <div class = "list-of-restaurants">
            <!-- Search -->
            <div class = "restaurant-search">
                <form action="/restaurants/list" method="GET">
                    <input type = "text" name = "searchedKeywords" placeholder = "Search...">
                    <button type="submit">Search</button>
                </form>
            </div>

            <!-- Restaurant List -->
            <div class = "restaurant-list">
            <ul>
                <% restaurant_list.forEach((restaurant) => { %>
                    <li>
                        <h3><%= restaurant.restaurant_name %></h3> <br>
                        <img src= "<%= restaurant.restaurant_image %>" alt="Missing Restaurant Image" class = restaurant-image> <br>
                        Description:
                        <p><%= restaurant.restaurant_description %></p>

                        <form action="/customers/book" method="GET">
                            <button name = "bookRestaurant" type="submit" value = "<%= restaurant.restaurant_id %>">Book</button>
                        </form>
                        <br>
                    </li>
                <% }) %>
            </ul>
        </div>
    </body>
</html>

