<!-- Login page for both customers and restaurants -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Customer Sign Up Page</title>
        <link rel="stylesheet" href="/main.css">

    </head>

    <body>
        <div>

            <h1>Customer Sign Up page</h1>

            <form style="display: inline">
                <button type="button" onclick="location.href='/customers/registration'">Customer</button>
            </form>

            <form style="display: inline"></form>
                <button type="button" onclick="location.href='/restaurants/registration'">Restaurant</button>
            </form>

            <br><br>
            <p>Already have account ? <a href="/customers/sign-in">Login Here</a></p>

        </div>
    </body>
</html>
