<!-- First page appears when we access http://localhost:3000 -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Page</title>
        <link rel="stylesheet" href="/main.css">

    </head>

    <body class="homepage"
        <h1>Welcome to Dine Click Website</h1>
        
        <button class="btn-organiser" type="button" onclick="location.href='/restaurants'">Home</button>
        <button class="btn-organiser" type="button" onclick="location.href='/restaurants/about'">About</button>
        <button class="btn-organiser" type="button" onclick="location.href='/restaurants/list'">Restaurants</button>
        <button class="btn-organiser" type="button" onclick="location.href='/restaurants'">My Bookings</button>
        <button class="btn-organiser" type="button" onclick="location.href='/customers/sign-in'">Sign In</button>
        
    </body>
</html>

