/* Styling for website*/
/* Home page styling */
body.homepage,
body.about-page,
body.sign-in-page {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  background-color: #efefef;
  /* display: flex;  */
}

/* Navigation button */
.navbar {
  display: flex;
  align-items: center;
  justify-content: center; /*Center the navigation buttons*/
  background-color: rgba(0, 173, 143, 0.75);
  /* background-color: #00AD8F; */
  /* opacity: 75%; */
  box-sizing: border-box;
  position: static; /* Allow absolute positioning for the logo */
  white-space: nowrap;
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensure the navbar is on top of other elements */
}

.logo {
  left: 20px; /* Add space from the left edge */
}

.navbar .logo img {
  height: 50px; /*logo size */
  width: 100px;
}

.nav-buttons {
  display: flex;
  justify-content: center; /* Center buttons in the navbar */
  gap: 50px; /* Add space between buttons */
  list-style: none; /* Remove bullets */
  margin: 0;
  padding: 0;
  /* z-index: 1000; */
}

.nav-buttons li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 20px; /* Add spacing inside buttons */
  border-radius: 20px; /* Rounded corners for buttons */
  transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.nav-buttons li a:hover {
  background-color: black; /* Black background on hover */
  color: white;
}

h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: bold;
}

/* customer and restaurant registration form */
.registration-form {
  width: 100%;
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.registration-form label {
  font-size: 16px;
  margin-bottom: 5px;
  display: block;
}

.registration-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.registration-form input[type="file"] {
  padding: 8px;
}

.registration-form button {
  width: 100%;
  padding: 15px;
  background-color: #00ad8f;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.registration-form button:hover {
  background-color: #007c64;
}

.dropdown-signIn {
  position: relative;
}

.dropdown-signIn-option {
  display: none;
  position: absolute;
  top: 100%; /* Place below the parent menu item */
  /* right: 10;  Align to the right */
  background: #efefef;
  min-width: 200px;
  list-style: none;
  padding: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.dropdown-signIn-option li a {
  color: #333; /* Black text for dropdown items */
  padding: 12px 16px;
  display: block;
  font-size: 16px;
}

.dropdown-signIn-option li a:hover {
  background: rgba(0, 173, 143, 0.75); /* Green background on hover */
  color: white;
}

.dropdown-signIn:hover .dropdown-signIn-option {
  display: block;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column; /* Stack logo and nav-buttons vertically */
    align-items: center;
  }

  .nav-buttons {
    flex-direction: column; /* Stack buttons vertically */
    gap: 15px; /* Reduce gap between buttons */
  }

  .nav-buttons li a {
    font-size: 14px;
    padding: 8px 15px; /*Adjust padding for smaller screens */
  }

  .nav-buttons li a:hover {
    padding: 10px 20px;
  }
}

.reserve-button {
  background-color: rgba(0, 173, 143, 0.75);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  cursor: pointer;
  display: inline-flex;
}

.reserve-button:hover {
  background-color: #7fc1a1;
}

/* Hero section */
.hero-image {
  /* margin-top: 26px; */
  width: 100%;
  height: 50vh;
}

/* Why Us section */
.why-us {
  font-size: 18px;
  padding: 60px 100px;
  text-align: left; /* Center align the section header */
}

.reasons {
  display: flex;
  justify-content: space-evenly; /* Distribute the blocks evenly */
  /* align-items: flex-start; Align items at the top */
  margin: 0 auto;
  max-width: 1200px; /* Limit the section width */
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
  gap: 150px;
  padding: 20px 0;
}

.reason {
  width: 300px; /* Consistent block size */
  text-align: center; /* Center align text inside the block */
  /* margin: 20px; Add spacing between blocks */
}

.reason img {
  border-radius: 30px;
  max-width: 100%; /* Ensure images fit the block width */
  height: auto;
  display: block; /* Avoid inline spacing issues */
  margin: 0 auto; /* Center the image */
}

.reason h3 {
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
}

.reason p {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.footer {
  background-color: #20857a;
  width: 100%;
  padding: 5px 0;
  display: flex;
  /* box-sizing: border-box; */
  justify-content: center;
}

.contact-us {
  /* align-text: left;  */
  padding: 10px 80px;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 0px;
  vertical-align: middle;
  cursor: pointer;
}

.follow-us {
  padding: 10px 80px;
}

.follow-us a {
  text-decoration: none;
}

.follow-us .icon {
  margin-right: 10px;
  width: 30px;
  height: 30px;
}

/* ========================================================================= */
/* About page styling setting */
/* body.aboutpage{
    font-family: sans-serif;
    padding:0;
    margin:0;
    background-color: #EFEFEF;
} */

/* About section */
.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px;
  /* gap: 0px; */
  text-align: left;
}

/* About logo */
.dine-click-logo img {
  height: 400px;
  width: auto;
}

/* About content */
.about-content {
  max-width: 800px;
  font-size: 18px;
}

.about-content h1 {
  color: #62b5a8;
  font-size: 36px;
  margin-bottom: 10px;
}

.about-content p {
  color: #333;
  line-height: 1.6;
  margin-bottom: 10px;
}

/* ============================================================ */
/* Sign In page styling  */
/* body.sign-in-page{ */
/* background-color: #efefef; */
/* margin:0;  */
/* padding:0;  */
/* display: flex; Use flexbox for centering */
/* align-items: center; Center vertically */
/* height: 100vh; Set the height of the body to fill the entire viewport */
/* } */

/* sign in title style */
.sign-in-box h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* form style */
.sign-in-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.sign-in-box {
  background-color: white;
  padding: 30px 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 100%;
  max-width: 400px;
}

/* input box style */
.sign-in-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

/* button style */
.sign-in-box button {
  width: 100%;
  padding: 15px;
  background-color: #00ad8f;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.sign-in-box button:hover {
  background-color: #007c64;
}

/* login container style */
.login-container {
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
}

/* login link */
.login-container p {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
}

.login-container a {
  color: #007c64;
  text-decoration: none;
  font-weight: bold;
}

.login-container a:hover {
  text-decoration: underline;
}

/* button container */
.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

/* button style */
.button-container button {
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid #007c64;
  background-color: #fff;
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 16px;
}

.button-container button:hover {
  background-color: #007c64;
  color: white;
}
