/* Styling for dine click website*/

/* Make sure all pages have the same styling for the navigation button */
body.homepage, 
body.about-page, 
body.sign-in-page, 
body.account-page, 
body.edit-menu-page, 
body.customers-registration-page,
body.restaurant-registration-page,
body.customers-list-page,
body.restaurants-list-page, 
body.booking-page, 
body.view-menu-page,
body.select-table-page,
body.edit-table-page{
    font-family: sans-serif;
    padding:0;
    margin:0;
    background-color: #EFEFEF;
    
}

/* ======================================================================= */
/* Navigation button */
.navbar {
    display: flex;
    align-items: center;
    justify-content: center; /*Center the navigation buttons*/
    background-color: rgba(0, 173, 143, 0.75);
    box-sizing: border-box;
    position: static; /* Allow absolute positioning for the logo */
    white-space: nowrap;
    top:0;
    width:100%;
    z-index: 1000; /* Ensure the navbar is on top of other elements */
}

.logo {
    left: 20px; /* Add space from the left edge */
}

.navbar .logo img {
    height: 50px; /*logo size */
    width:100px; 
}

.nav-buttons {
    display: flex;
    justify-content: center; /* Center buttons in the navbar */
    gap: 50px; /* Add space between buttons */
    list-style: none; /* Remove bullets */
    margin: 0;
    padding: 0;
}

.nav-buttons li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 20px; /* Add spacing inside buttons */
    border-radius: 20px; /* Rounded corners for buttons */
    transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.nav-buttons li a:hover {
    background-color: black; /* Black background on hover */
    color: white;
}

.dropdown-signIn{
    position: relative;
}

.dropdown-signIn-option {
    display: none;
    position: absolute;
    top: 150%; /* Place below the parent menu item */
    right: -0.2px;
    /* left: 30px;  */
    background: #efefef;
    min-width: 200px;
    list-style: none;
    padding: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.dropdown-signIn-option li a {
    color: #333; /* Black text for dropdown items */
    padding: 12px 16px;
    display: block;
    font-size: 16px;
}

.dropdown-signIn-option li a:hover {
    background: rgba(0, 173, 143, 0.75); /* Green background on hover */
    color: white;
}

.dropdown-signIn:hover .dropdown-signIn-option {
    display: block;
}


@media (max-width: 768px) {
    .navbar {
        flex-direction: column; /* Stack logo and nav-buttons vertically */
        align-items: center;
    }

    .nav-buttons {
        flex-direction: column; /* Stack buttons vertically */
        gap: 15px; /* Reduce gap between buttons */
    }

    .nav-buttons li a {
        font-size: 14px;
        padding: 8px 15px; /*Adjust padding for smaller screens */
    }

    .nav-buttons li a:hover {
        padding: 10px 20px; 
    }
}

/* ======================================================================= */
/* HOMEPAGE styling */
.reserve-button {
    background-color: #00AD8F; 
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;
    display: inline-flex; 
}

.reserve-button:hover {
    background-color: #007C64;
}

/* Hero part */
.hero-image {
    width:100%; 
    height:50vh; 
}

/* Why Us */
.why-us{
    font-size: 18px; 
    padding: 60px 100px;; 
    text-align: left; /* Center align the section header */
}

.reasons {
    display: flex; 
    justify-content: space-evenly; /* Distribute the blocks evenly */
    margin: 0 auto; 
    max-width: 1200px; /* Limit the section width */
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
    gap: 150px;
    padding: 20px 0; 
}

.reason {
    width: 300px; /* Consistent block size */
    text-align: center; /* Center align text inside the block */
}

.reason img {
    border-radius: 30px;
    max-width: 100%; /* Ensure images fit the block width */
    height: auto; 
    display: block; /* Avoid inline spacing issues */
    margin: 0 auto; /* Center the image */
}

.reason h3 {
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
}

.reason p {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

.footer {
    background-color: #20857A;
    width:100%; 
    padding: 5px 0;
    display: flex; 
    justify-content: center;
}

.contact-us {
    padding: 10px 80px; 
}

.icon {
    width:20px;
    height:20px; 
    margin-right: 0px; 
    vertical-align: middle;
    cursor: pointer; 
}

.follow-us {
    padding: 10px 80px; 
}

.follow-us a {
    text-decoration: none;
}

.follow-us .icon{
    margin-right: 10px; 
    width: 30px; 
    height: 30px; 
}

/* ========================================================================= */
/* ABOUT PAGE styling*/

/* About section */
.about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px;
    text-align: left;
}

/* About logo */
.dine-click-logo img {
    height: 400px;
    width: auto;
}

/* About content */
.about-content {
    max-width: 800px;
    font-size: 18px;
}

.about-content h1 {
    color: #62b5a8;
    font-size: 36px;
    margin-bottom: 10px;
}

.about-content p {
    color: #333;
    line-height: 1.6;
    margin-bottom: 10px;
}

/* ============================================================ */
/* SIGN IN page styling  */
.sign-in-container{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 90vh; /* Full viewport height for centering */

}

.sign-in-box {
    background-color: #fff;
    padding: 30px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    align-items: center;
    width: 300px;
    margin-top: auto;
    margin-bottom: auto;
}

.sign-in-box h1 {
    margin-bottom: 20px;
}

.sign-in-box label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
}

.sign-in-box input{
    width: 93%; 
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.sign-in-box button {
    background-color:#00ad8f;
    width: 40%;
    padding: 10px;
    border-radius: 4px; 
    font-size: 16px; 
    cursor: pointer; 
    border: none; 
    color: white; 
}

.sign-in-box button:hover {
    background-color: #007c64;
}

.registration-page p{
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

.registration-page a {
    color: #007c64;
    text-decoration: none;
    font-weight: bold;
}
  
.registration-page a:hover {
    text-decoration: underline;
}

/* ============================================================ */
/* Account (restaurant and customer) general styling */
.account-profile {
    padding: 10px 5%;
    display: block;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    background-color: #fff;

    width: 60%; /* Adjust the width (e.g., 60% of the screen) */
    max-width: 900px; /* Set a max width to prevent it from being too wide */
    margin: 60px auto; /* Center horizontally */
    border-radius: 12px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.account-profile-sections {
    font-size: 16px; 
    display: inline-flex; 
    justify-content: space-between;
    gap: 50px;
}

.account-profile-left {
    width: 300px; 
    height: auto; 
    line-height: 2;
    font-size: 16px; 
    text-align: left;
}

.account-profile h2 {
    font-size: 24px; 
    font-weight: bold;
    text-align: left;
}

.account-image {
    width: 250px;       
    height: 350px;
    object-fit: cover;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.account-browse-file {
    display: inline-block; 
    width: 100%;
    height: 100%;
    line-height: 2;
}

.account-browse-image-button {
    display: none;
}

.custom-account-image-file-upload {
    background-color: #00AD8F; 
    text-align: center;
    color: #fff;
    padding: 0px 10px;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    display: inline-flex; 
}
  
.custom-account-image-file-upload:hover {
    background-color: #007C64;
}
  
.account-browse-image-button:focus + .custom-account-image-file-upload {
    background-color: rgba(0, 173, 143, 0.75); 
}

.account-image-file-name {
    font-size: 16px;
    color: #333;
    display: inline;
}

.account-button {
    background-color: #00AD8F; 
    text-align: center;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    display: inline-flex;
    margin-bottom: 10px;
}

.account-button:hover {
    background-color: #007C64;
}

.account-restaurant-profile-right {
    padding: 10px 5%;
    height: 650px;
    line-height: 2.5; 
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    text-align: left;
    min-width: 400px;
}

.account-customer-profile-right {
    height: 550px;
    line-height: 2.5; 
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    text-align: left;
}

.customer-profile-form{
    margin-top: 20px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.customer-profile-form .account-input {
    width: 93%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.account-update-delete-button {
    display: flex; 
    justify-content: space-evenly; 
    gap: 20px;
}

.account-sign-out-button{
    background-color:#00AD8F;
    text-align: center;
    color: #fff;
    padding: 10px 30px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;
    display: inline-flex;
}

.account-sign-out-button:hover {
    background-color: #007c64;
}

/* ===================================================================== */
/* Restaurant account styling (more specific)*/
.restaurant-profile-form{
    margin-top: 75px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.restaurant-profile-form .account-input {
    width: 93%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.restaurant-profile-bottom {
    font-size: 16px; 
    display: block; 
    text-align: left;
    padding-top: 180px; 
    margin: 40px;
}

.restaurant-profile-bottom h3{
    font-size: 20px; 
    font-weight: bold;
    text-align: left;
}

.account-profile h3 {
    font-size: 20px; 
    font-weight: bold;
    text-align: left;
    margin: 0 auto;
}

.restaurant-profile-floorplan {
    line-height: 2;
    font-size: 16px; 
    text-align: left;
    padding-bottom: 20px;
}

.floorplan-image-wrapper {
    position: relative;
    width: 450px;
    border-radius: 16px;
    text-align: center; 
    align-content: center;
    color: #505050;  
}

.floorplan-image{
    width: 100%;         
    height: 100%;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    object-fit: contain;
}

.restaurant-profile-menu{
    line-height: 2;
    font-size: 16px; 
    text-align: left;
}

/* ========================================================================= */
/* EDIT MENU page styling */
.menu-item-image-wrapper {
    position: relative;
    width: 300px;    
    height: 200px;
    margin-bottom: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: #ccc;
    text-align: center; 
    align-content: center;
    color: #505050;  
}

.menu-item-image{
    width: 100%;         
    height: 100%;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    object-fit: cover;
}

.edit-menu {
    padding: 10px 20%;
    display: block;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    text-align: left;
}

.edit-menu h1 {
    font-size: 24px; 
    font-weight: bold;
    text-align: left;
}

.edit-menu h3 {
    font-size: 16px; 
    font-weight: bold;
    text-align: left;
}

.menu-input {
    width: 250px; 
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.add-menu {
    padding: 10px 0;
}

.edit-menu h2 {
    font-size: 20px; 
    font-weight: bold;
    text-align: left;
}

.menu-list {
    padding: 10px 20px;
    list-style: none;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); ;
    max-width: 500px; 
}

.menu-list h2{
    padding-left: 0px; 
}

body.view-menu-page .menu-list {
    padding: 10px 10px;
    list-style: none;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); ;
    max-width: 500px; 
    margin: 20px 50px;
}

body.edit-table-page .menu-list {
    background-color: #f9f9f9;
    padding-left: 20px;
}

body.edit-table-page .menu-list ol li {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    width: 50%;
} 

.edit-menu p {
    font-size: 16px; 
    text-align: left;
    margin: 0;
}

.edit-menu-done-button{
    background-color: #00AD8F; 
    text-align: center;
    color: #fff;
    padding: 5px 30px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    
}

.edit-menu-done-button:hover {
    background-color: #007C64;
}

.edit-table-container {
    position: relative;
    width: 500px;
    border-radius: 16px;
    text-align: center; 
    align-content: center;
    color: #505050;  
}

.edit-table-image {
    width: 1000px;         
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    object-fit: contain;
    position: relative;
}

.edit-table-container p {
    font-size: 14px;
}

.tableSquares {
    position: absolute;
    background-color: rgb(0, 179, 255);
    border: 2px solid rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

/* ============================================================ */
/* VIEW MENU page styling */
.back-to-booking-button{
    padding-left: 20px;
}

/* ============================================================ */
/* REGISTRATION Page (customer and restaurant) Styling */

/* Button to access customer or restaurant registration page */
.toggle-container {
    display: flex;
    overflow: hidden;
    margin-left: 535px;
    margin-bottom: 0px;
    margin-top: 60px;
}

.toggle-btn {
    flex: 1; /* Makes both buttons equal in size */
    text-align: center;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: background 0.3s, color 0.3s;
    width: 320px; 
}

.toggle-btn.active {
    background-color: #00AD8F; /* Colour when click the button*/
    color: white;
}

.toggle-btn.inactive {
    background-color: #E0E0E0; 
    color: #A0A0A0;
}

.registration h1{
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: bold;
}

.registration-form {
    width: 100%;
    max-width: 600px;
    margin-left: 535px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
.registration-form label {
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
}
  
.registration-form input {
    width: 96%;
    padding: 12px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}
  
.registration-form input[type="file"] {
    padding: 8px;
}
  
.registration-form button {
    width: 100%;
    padding: 15px;
    background-color: #00ad8f;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
}
  
.registration-form button:hover {
    background-color: #007c64;
}

.login-container {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
/* login link */
.login-container p {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

.login-container a {
    color: #007c64;
    text-decoration: none;
    font-weight: bold;
}
  
.login-container a:hover {
    text-decoration: underline;
}
  
.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.button-container button {
    padding: 10px 15px;
    border-radius: 8px;
    border: 1px solid #007c64;
    background-color: #fff;
    cursor: pointer;
    transition: 0.3s ease;
    font-size: 16px;
}
  
.button-container button:hover {
    background-color: #007c64;
    color: white;
}

/* ============================================================ */
/* LIST OF RESTAURANTS PAGE styling (customer and restaurant) */

.restaurant-image { /* used to display customer account profile*/
    width: 250px;       
    height: 350px;
    object-fit: cover;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.restaurant-list {
    display: flex;
    gap: 70px;
    flex-wrap: wrap;
    padding: 50px;
    padding-bottom: 20px;
}

.restaurant-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s ease-in-out;

    width: 250px;
    height: 350px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

/* Styling for restaurant image inside the card */
.restaurant-list-image {
    width: 100%;
    height: 180px;
}

/* Info section styling */
.restaurant-details {
    padding: 15px;
    text-align: center;
}

.restaurant-details h3 {
    margin-bottom: 10px;
    color: #333;
}

.restaurant-details p {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
}

/* Book button styling */
.book-button {
    background-color: #00AD8F;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    /* display: block;  */
}

.book-button:hover {
    background-color: #007c64;
}

.restaurant-search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

/* Search Box */
.search-restaurant-box {
    position: relative;
    width: 250px;
}

/* Search Input */
.search-restaurant-input {
    width: 80%;
    padding: 10px 40px 10px 15px; /* Add space for the icon */
    border: 2px solid #62b5a8;
    border-radius: 25px;
    font-size: 16px;
    outline: none;
}

/* Search Icon Button */
.search-icon {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: #62b5a8;
    font-size: 18px;
}

.search-icon:hover {
    color: #4a9872;
}

/* ====================================================== */
/* ALERT BOX Styling */
.alert-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /*Dark transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure the alert box is on top of other elements */
}

.alert-box {
    background-color: #fff;
    color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
}

/* OK Button Styling */
.alert-box button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #00AD8F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.alert-box button:hover {
    background-color: #007c64;
}

/* ========================================================================= */
/* CUSTOMER BOOKING PAGE Styling */
.account-booking-profile{
    max-width: 900px;
    margin: 40px auto;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.account-booking-profile-sections{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.account-booking-profile-left{
    flex: 1;
    text-align: center;
}

.account-restaurant-booking-profile-right{
    flex: 2;
    padding-top: 60px ;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    line-height: 2.25;
}

#bookingForm {
    margin-top: 20px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

#bookingForm input {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

/* Dining Time Buttons Styling */
.opening_hours ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.dining-time-btn {
    background-color: #ffffff;
    border: 2px solid #00ad8f;
    color: #00ad8f;
    padding: 8px 15px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 14px;
}

.dining-time-btn:hover {
    background-color: #00ad8f;
    color: #fff;
}

.dining-time-btn.selected {
    background-color: #00ad8f;
    color: white;
    font-weight: bold;
}

/* Table colour change to red when reserved */
.reservedTableSquares {
    position: absolute;
    background-color: rgb(255, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.availableTableSquares {
    position: absolute;
    background-color: rgb(181, 180, 180);
    border: 2px solid rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.selected-colour {
    background-color: #00AD8F;
}

/* Notes to let user know which table is available */
.table-notes h3{
    color: black; 
    margin-top: 20px; 
}

.table-notes p{
    color: black; 
    font-size: 16px; 
}

.seat-selection-btn {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.button-container{
    display: flex;
    gap: 10px;
    margin-top: 20px;
    transform: translateX(50%); 
}

.button-container .table-selection-button{
    gap: 10px; 
    background-color: #00AD8F;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}



