<!-- Restaurant home page (After successfully login) -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Page</title>
        <link rel="stylesheet" href="/main.css">

    </head>

    <body>
        <div>
            <h1>Welcome to restaurant homepage</h1>
            <p>Please choose your role</p>
            

            <button type="button" onclick="location.href='/restaurants'">Home</button>
            <button type="button" onclick="location.href='/restaurants/about'">About</button>
            <button type="button" onclick="location.href='/restaurants/list'">Restaurant</button>
            <button type="button" onclick="location.href='/restaurants/bookings'">My Bookings</button>
            <button type="button" onclick="location.href='/restaurants/account'">Account</button>
        </div>
    </body>
</html>

